.mode-info {
    display: flex;
    width: 400px;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.current-mode, .restart-mode {
    width: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #f7f7f7;
}

.restart-mode {
    border-right: 1px solid #dedede;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    cursor: pointer;
    border-top-right-radius: 4px;
}

.restart-mode:hover {
    background-color: #e0e0e0;
}

.current-mode {
    border-left: 1px solid #dedede;
    border-top: 1px solid #dedede;
    border-top-left-radius: 4px;
}