.choices {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  border-top: 1px solid #dedede;
}

.choice {
  width: 49%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background-color: #f7f7f7;
  flex-grow: 1;
}

.choice:hover {
    background-color: #e0e0e0;
}

.choice:nth-child(1) {
  border-right: 1px solid rgba(128, 128, 128, 0.21);
  border-bottom: 1px solid rgba(128, 128, 128, 0.21);
}

.choice:nth-child(2) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.21);
}

.choice:nth-child(3) {
  border-right: 1px solid rgba(128, 128, 128, 0.21);
}
