.guess-player {
  width: 400px;
  margin: auto;
  border: 1px solid #dedede;
  border-radius: 4px;
  margin-top: 4%;
}

.player-img {
  margin-bottom: -4px;
}

.result {
  color: white;
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  font-weight: 100;
}

.result.correct {
  background-color: #2ecc71;
}

.result.incorrect {
  background-color: #e74c3c;
}

.count {
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  background-color: #f7f7f7;
  font-weight: 100;
  border-bottom: 1px solid rgba(128, 128, 128, 0.21);
}
